body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
    background-color: #f0f0f0;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.grid-square {
    box-sizing: border-box;
    background-color: white;
    transition: background-color 0.1s;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #37a791;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #5a8de1;
}

.grid-square.hovered {
    background-color: #333;
}